[submodule "aries-acapy-plugin-toolbox"]
	path = aries-acapy-plugin-toolbox
	url = https://github.com/THCLab/aries-acapy-plugin-toolbox
	branch = development
[submodule "aries-services-plugin"]
	path = aries-services-plugin
	url = https://github.com/THCLab/aries-services-plugin
	branch = credentials
